.largeIcon{
	font-size: 50px;
	color: red;
	padding-left: 35px;
	padding-right: 35px;
}

a:hover{
	text-decoration: none;
}

.page-header{
	margin-top: 0;
}

.panel-body{
	padding-top: 0; 
}

.featuredImg{
	margin-bottom: 15px;
}